@import "tailwindcss";


@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium-VariableFont_wght.ttf") format("opentype");
}

body {
  background: #080705;
  color: var(--foreground);
  font-family: "Oxanium", Arial, Helvetica, sans-serif;
}




/* *******************Custom********************* */

.grad-btn{
  border-radius: 8px;
  background: linear-gradient(90deg, #FADA1B 0%, #FFF 100%);
}

.test{
  background: #e4e4e414;
}

.card-bg{
  background: radial-gradient(1199.24% 50% at 50% 48.72%, rgba(250, 218, 27, 0.04) 0%, rgba(108, 93, 211, 0.04) 100%), #0A0A09;
}

.main-card-bg-rare{
  border-radius: 8px;
  background: var(--rare-bg, radial-gradient(50% 50% at 50% 50%, rgba(107, 202, 74, 0.08) 0%, rgba(224, 255, 213, 0.08) 100%), #0A0A09);
}

.rgb-border {
  border-image: linear-gradient(to right, #4a4529,  #4a45291f) 1;
}