@import "tailwindcss";


@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium-VariableFont_wght.ttf") format("opentype");
}

body {
  /* background: #080705; */
  color: var(--foreground);
  font-family: "Oxanium", Arial, Helvetica, sans-serif;
}




/* *******************Custom********************* */

.grad-btn{
  border-radius: 8px;
  background: linear-gradient(90deg, #FADA1B 0%, #FFF 100%);
}

.test{
  background: rgba(250, 216, 27, 0.863);
}